<div class="page homepage" data-name="home">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="/home/" class="link icon-only">
          <i class="icon f7-icons">house_fill</i>
        </a>
      </div>
      <div class="title">Recette au max</div>
      <div class="subnavbar">
        <!-- Searchbar inside of Subnavbar -->
        <form class="searchbar">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Chercher un plat" />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">Annuler</span>
          </div>
          <!-- <div>
            <input type="checkbox" name="" id="">
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <div class="page-content">
  </div>