<template>
  <div class="page" data-name="catalog">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="title">Recette au max</div>
      </div>
    </div>
    <div class="page-content">
      <div class="text-align-center">
        <img class="meal_img" src="" alt="image de test" width="40%" height="40%"></img>
      </div>
      <div class="text-align-center">
        <h2 class="meal_title"></h2>
      </div>
      <div class="text-align-center">
        <p>Temps de préparation : 19min</p>
        <p>Temps de cuisson : 40min</p>
      </div>
      <div class="display-flex justify-content-center">
        <select style="text-align-last:center;">
          <option>2 persons</option>
          <option>1 person</option>
          <option>3 persons</option>
          <option>4 persons</option>
          <option>5 persons</option>
          <option>6 persons</option>
          <option>7 persons</option>
          <option>8 persons</option>
          <option>9 persons</option>
          <option>10 persons</option>
        </select>
      </div>
      <div class=" text-align-center">
        <div class="block-title">Ingrédients</div>
        <div data-pagination='{"el": ".swiper-pagination"}' data-slides-per-view="auto" data-centered-slides="true"
          class="swiper-container swiper-init demo-swiper demo-swiper-auto">
          <div class="swiper-pagination"></div>
          <div class="divIngredient swiper-wrapper">

          </div>
        </div>
      </div>
      <div class="text-align-center">
        <h3> Instructions </h3>
        <p class="strInstructions" id="test"></p>
      </div>
    </div>
  </div>
</template>
<!-- <style>
  .demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
  }

  .demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #000;
    background: #000;
  }

  .demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 120px;
  }

  .demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
  }

  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
  }

  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
  }
</style> -->